@import url(./main.css);
@import url(./header.css);
@import url(./footer.css);

form {
  padding: 2%;

  input {
    color: white;
    display: block;
    width: 100%;
    padding: 6px;
    margin: 8px 0;
    background-color: rgba(255, 255, 255, 0.178);
  }

  ::placeholder {
    color: grey;
  }

  button {
    display: block;
    background-color: rgba(255, 255, 255, 0.555);
    width: 20%;
    min-width: 80px;
    padding: 10px;
    margin: 8px 0;
  }
}
